html {
    font-size: 100%;
}

body {
    font-size: 0.938rem;
    font-family: var(--primary-font);
    background-color: var(--clr-light-grey);
    color: var(--clr-dark-blue);
}

main {
    min-height: 100vh; 
    background-color: var(--clr-black);
    //grid centering trick
    display: grid;
    place-content: center;
}