@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
//this design colors
:root{
--clr-white: hsl(0, 0%, 100%);
--clr-light-grey:hsl(212, 45%, 89%);
--clr-greyish-blue: hsl(220, 15%, 55%);
--clr-dark-blue: hsl(218, 44%, 22%);
//primary font
--primary-font : "Outfit", sans-serif;
}